<!DOCTYPE HTML>
<html>

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">

  <title>{$title}</title>

  <!-- 引用jQuery -->
  <script type="text/javascript" src="{URL_PATH}/public/js/jquery.1.11.1.min.js"></script>
  <link rel="stylesheet" href="{URL_PATH}/public/bootstrap-3.3.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="{URL_PATH}/public/css/common.css"></head>
	
<body>