{include "public/header.html"}
<!-- 怎么引入一个文件 -->
  <div class="container">
    <a href="{URL_PATH}/job/add" class="btn btn-success">添加招聘</a>
    <a href="{URL_PATH}/company" class="btn btn-success">企业管理</a>
    
    <br>
    <br>

    <div class="row mb10">
      <div class="col-md-4">排序：<a href="{URL_PATH}/job/index">默认</a> | <a href="{URL_PATH}/index.php?c=job&sort=time">时间升序</a>  | <a href="{URL_PATH}/index.php?c=job&sort=money">工资多到少</a></div>
      <div class="col-md-4"></div>
      <div class="col-md-4">
          <form action="index.php?c=job" method="post">
            <input type="text" name="keywords" class="form-control in-block" placeholder="请输入岗位关键词">
            <input type="submit" class="btn btn-info">
          </form>

      </div>
    </div>

    <table class="table">
      <tr>
        <th>编号</th>
        <th>岗位名称</th>
        <th>工资</th>
        <th>要求</th>
        <th>发布时间</th>
        <th>操作</th>
      </tr>
    {foreach $job_list as $value}

    <tr>
      <td>{$value['id']}</td>
      <td>{$value['job_name']}</td>
      <td>{$value['money']}</td>
      <td>{$value['job_require']}</td>
      <td>{$value['add_time']|date_format:'Y-m-d H:i'}</td>
      <td> <a href='index.php?c=job&a=edit&id={$value['id']}'>修改</a> &nbsp;&nbsp;<a onclick=confim_do('index.php?c=job&a=delete&id={$value['id']}') class='text-danger'  >删除</a></td>
    </tr>

    {foreachelse}
    <tr>
      <td colspan="6">没有相关信息！</td>
    </tr>
    {/foreach}

      
    </table>
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-10">
       当前：第{$page_args['page']}页，总共：{$page_args['total_page']}页
         {$page_args['p_li_html']}
        </div>
        <div class="col-md-2"></div>
    </div>
    <a href="{URL_PATH}/index.php?a=logout" class="btn btn-danger fr">退出</a>
  </div>
  <script>
      function confim_do (href_url) {
        if (window.confirm("确认删除这条信息吗？")) {
            location.href=href_url;
        }else{
          

        }
      }
  </script>

{include "public/footer.html"}

